input.input-error,
select.input-error {
  border-color: red;
}
.error {
  color: red;
}
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.dropdown-content {
  display: none !important;
}
.dropdown:hover .dropdown-content {
  display: block !important;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.275);
}